<%- include ("./partials/header") %>

<div class="row">
    <div class="col-md-12">
		
		<form class="form-signin" action="/register" method="POST">
			  <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

			<div class="form-label-group">
				<input type="text" id="inputUsername" class="form-control"
					 name="username" placeholder="Username" required autofocus>
				<label for="inputUsername">User name</label> 
			 </div>
			<div class="form-label-group">
				<input type="password" id="inputPassword" name="password"
					 class="form-control" placeholder="Password" required >
				<label for="inputPassword">Password</label>		
			</div>
			<div class="form-label-group">	
				<input type="text" id="inputFirstName" class="form-control"
					name="firstName" placeholder="First name" >
				<label for="inputFirstName">First name</label>		
			</div>
			<div class="form-label-group">	
				<input type="text" id="inputLastName" class="form-control"
					 name="lastName" placeholder="Last name" >
				<label for="inputLastName">Last name</label>
			</div>
			<div class="form-label-group">	
				<input type="email" id="inputFirstName" class="form-control"
					 name="email" placeholder="Email" required>
				<label for="inputFirstName">Email</label>	
			</div>
			<div class="form-label-group">	
				<input type="text" id="inputAvatar" class="form-control"
					 name="avatar" placeholder="Avatar URL" >
				<label for="inputAvatar">Avatar</label>
			</div>
			<div class="form-label-group">	
				<input type="text" id="inputAdminCode" class="form-control"
					 name="adminCode" placeholder="Admin code">
				<label for="inputAdminCode">Admin code</label>	
			</div>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up!</button>
		</form>
		<div class="form-signin">
			<a href="/campgrounds"> Go Back</a>	
		</div>
		
		

<%- include ("./partials/footer") %>
	