
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}


/* Sticky footer styles */
html {
	position: relative;
	min-height: 100%;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
/* Set the fixed height of the footer here	 */
	height:60px;
	background-color: #f5f5f5;
}

.container .text-muted {
	margin: 20px 0;
}

/* Thumbnail styles  */
.thumbnail img {
	width: 100%;
}
.thumbnail {
padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

/* Campground show page delete button */
#delete-form{
	display: inline;
}
.delete-form{
	display: inline;
}

/* Google map styles */
#map{
	height: 400px;
	width: 100%
}

/* Thumbnails steles */
   @media (min-width: 768px) {
            .thumbnail img {
                object-fit: cover;
                height: 200px;
                width: 100%;
            }
        }